
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar notificação</h2>

@Styles.Render("~/bundles/agenda/form-css")

@Html.Partial("_Form")


@section scripts {

    @Scripts.Render("~/bundles/agenda/editar-js")

}

