@{
    ViewBag.Title = "Nova notificação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nova notificação</h2>

@Styles.Render("~/bundles/agenda/form-css")

@Html.Partial("_Form")


@section scripts {

   @Scripts.Render("~/bundles/agenda/novo-js")

}