<connectionStrings>
  <!-- localhost -->
  <add name="SngpcContext" connectionString="Server=192.168.64.18;Port=5432;Database=sngpc;User Id=desenvolvimentoweb;Password=dev_l1nx_2016;preload reader=true;" providerName="Npgsql" />
  
  <!-- produção azure -->
  <!--<add name="SngpcContext" connectionString="Server=sngpc-cloud.postgres.database.azure.com;Database=sngpc;Port=5432;User Id=usradmsngpc@sngpc-cloud;Password=c0JBf7S9yBxDJI3EMkn0aDp7NeBwA3bu;SSL=true;SslMode=Require;" providerName="Npgsql" />-->

  <!-- homolog azure -->
  <!--<add name="SngpcContext" connectionString="Server=sngpc-cloud.postgres.database.azure.com;Database=sngpc-homolog;Port=5432;User Id=usradmsngpc@sngpc-cloud;Password=c0JBf7S9yBxDJI3EMkn0aDp7NeBwA3bu;SSL=true;SslMode=Require;" providerName="Npgsql" />-->
</connectionStrings>