@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/home/index-css")


<div class="row container-content-page">

</div>

@section scripts {

    @*@Scripts.Render("~/bundles/")*@

}
