#container-lista{
    margin-top:20px;
}

#table-agenda {
    margin-top: 15px;
    width: 100%;
    font-size: 12px;
}

#nova-notificacao {
    font-size: 12px;
}

#coluna-descricao {
    width: 60%;
    max-width: 60%;
}

#coluna-hora {
    width: 15%;
    max-width: 15%;
}

#coluna-tipo {
    width: 15%;
    max-width: 15%;
}


#coluna-visualizar {
    width: 10%;
    max-width: 10%;
}

tbody > tr > td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
